html{
    background-color: white;
}
body{
    margin:auto;
    height: 200em;
    font-family: sans-serif;
    font-size: 2em;
    text-align: left;
    background-image: url('Imagenes/fondos/cielo-.webp');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.partes{
    position: absolute;
    z-index: 1;
}
.parrafo{
    margin-left: 10px;
}
.parrafo p{
    color:blue;
}
h1{
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 5em;
    color: black;
    margin-bottom: 1.1em;
}
h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: black;
    margin-bottom: 1.1em;
}
p{
    text-align:left;
    margin-left: 1.5em;
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
a:active {
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
.noti{
    margin: 2rem;
    border-radius: 1rem;
    /*background-color: blue;*/
    overflow: hidden;
    box-shadow: .125em .5em 1em #ddd;
}
.cat{
    margin: 2rem;
    border-radius: 1rem;
    /*background-color: blue;*/
    overflow: hidden;
    box-shadow: .125em .5em 1em #ddd;
}
.boton{
    font-size:10px;
    font-family:sans-serif;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:19px;
   }
